*{
  font-family: "Raleway", sans-serif;
}

/*body*/
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #070707;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}  
  
/*content*/
.container{
    max-width: 350px; /*button width*/
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

/*background*/
#particles-js{
      position: fixed;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
}

/*underlined link in button*/
a{
    text-decoration: none;
}

/*button degrade and animation*/
/* .degrade{
    background: linear-gradient(to right, #ff9134, #ff397b, #9b46fb);
    background-size: 200%;
    animation: degrade-btn 7s infinite alternate;
}
@keyframes degrade-btn{
    0%{
        background-position-x:  0%;
    }
    100%{
        background-position-x: 100%;
    }

} */

/*header*/
header{
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

/*logo*/
img{
    max-width: 45px;
    position: relative;
}

/*title*/
header h1{
    font-size: 30px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    position: relative;
}

/*paragraph*/
header p{
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 1px;
    position: relative;
    font-weight: 200;
}

/*link button*/
section.btn-links{
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 5px;
    position: relative;
}

span{
    margin-top:  5px;
    margin-bottom: 5px;
}

/*button*/
a.link button{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
    background: #49d06c;
}

/*button hover*/
a.link button:hover{
    transform: scale(1.05);
    color: #fff;
    background: hsl(136, 50%, 44%);
}

/*footer*/
div footer{
    display: block;
    text-align: center;
    font-weight: 200;
    justify-content: center;
    padding: 10px;
    margin-top: 80px;
    position: relative;
    color: #fff;
    background: #1b1b1b;
}

/*responsiveness*/
@media only screen and (max-width: 600px) {
    div footer{
        margin-top: 35%;
    }
}