*{
  font-family: "Raleway", sans-serif;
}

/*body*/
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #070707;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}  

/*content*/
.container{
    max-width: 280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10;
}

.info, .link-img{
    display: flex;
    padding: 4% 0% 1%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

/* background*/
#particles-js{
      position: fixed;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
}

/*underlined link in button*/
a{
    text-decoration: none;
}

/*button degrade and animation*/
/* .degrade{
    background: linear-gradient(to right, #fff, #f5f5f5);
    background-size: 200%;
    animation: degrade-btn 7s infinite alternate;
}
@keyframes degrade-btn{
    0%{
        background-position-x:  0%;
    }
    100%{
        background-position-x: 100%;
    }

} */

/*header*/
header{
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

/*logo*/
img{
    max-width: 10%;
    /* padding: 7% 0% 1%; */
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

/*title*/
.title{
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    padding-bottom: 1%;
    position: relative;
}

/*link button*/
section.btn-links{
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 5px;
}

span{
    margin-top:  5px;
    margin-bottom: 5px;
}

/*button*/
a.link button{
    width: 100%;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    color: #070707;
    font-weight: 600;
    transition: 0.5s;
    background: #f5f5f5;
    position: relative;
}

/*button hover*/
a.link button:hover{
    transform: scale(1.05);
    color: #fff;
    background: #f24f00;
}

/*footer*/
.footer{
    margin: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;

}

.style-footer{
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    padding: 1% 0% 1%;
    background: #181818;
    position: relative;

}

/*responsiveness*/
@media only screen and (max-width: 600px) {

    .img{
        max-width: 34%;
        padding-top: 20%;
    }
    
    section.btn-links{
        padding-top: 10%;
    }

    .style-footer{
        padding: 3% 0% 3%;
    }
}