*{
  font-family: "Raleway", sans-serif;
}

/*body*/
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}  

/*content*/
.container{
    max-width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10;
}

.info, .link-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

/* background*/
#particles-js{
      position: fixed;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
}

/*underlined link in button*/
a{
    text-decoration: none;
}

/*button degrade and animation*/
/* .degrade{
    background: linear-gradient(to right, #ff9134, #ff397b, #9b46fb);
    background-size: 200%;
    animation: degrade-btn 7s infinite alternate;
}
@keyframes degrade-btn{
    0%{
        background-position-x:  0%;
    }
    100%{
        background-position-x: 100%;
    }

} */

/*header*/
header{
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

/*logo*/
img{
    max-width: 10%;
    padding: 5% 0% 1%;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

/*title*/
.title{
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #070707;
    letter-spacing: 1px;
    font-weight: 400;
    padding-bottom: 1%;
    position: relative;
}

/*link button*/
section.btn-links{
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 5px;
    position: relative;
}

span{
    margin-top:  5px;
    margin-bottom: 5px;
}

/*button*/
a.link button{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
    background: #1441e7;
}

/*button hover*/
a.link button:hover{
    transform: scale(1.05);
    color: #fff;
    background: #153cc9;
}

/*hr*/
.line{
    display: flex;
    width: 100%;
    position: relative;
}

/*footer*/
.footer{
    color: #070707;
    font-weight: 500;
    padding: 10% 0% 20%;
    margin: 0;
    text-align: center;
    position: relative;
}

/*responsiveness*/
@media only screen and (max-width: 600px) {

    .img{
        max-width: 34%;
        padding-top: 20%;
    }
    
    section.btn-links{
        padding-top: 3%;
    }
}